/* ==|====================
   Layout / Header
   ======================= */

$header-side-padding: 2.5rem;

// The '.headnav' class must be applied on the
// element wrapping the header and the navigation
.headnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zIndex-headerMain;
}

.header-main {
  position: relative;
  height: $header--main-height;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 $header-side-padding;
  background-color: $white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: $black;
  // This z-index has to be .dropdown-menu z-index + 1
  z-index: $zIndex-headerMain;
  @include transition();
  &.is-hidden {
    transform: translateY(-100%);
  }
}

.header-main__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-main__search {
  min-width: 30rem;
}

.header-main__right-section {
  display: flex;
  margin-left: auto;
}

.header-main__user-menu {
  position: absolute;
  top: 0;
  right: $header-side-padding;

  @include mq($from: desktop) {
    top: calc(#{$header--main-height} - 10px);
  }
}