/* =======================
   Components / Buttons
   ======================= */

// This is meant to be applied on a block element 
// which  will wrap at least two <button class="btn"> 
// vertically on small resolutons and horizontaly on bigger resolutions.
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq($from: tablet) {
    width: auto;

    .btn {
      margin-right: 1rem;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn {
    margin-bottom: 1rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// If you wonder when to use %extend and when to use mixin read this : http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
// This module is supposed to be applied on a <a> or a >button> element.
%button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 20rem;
  padding: 0 1rem;
  border-radius: 3rem;
  @include rms(0);
  text-align: center;
  text-decoration: none;
  @include transition;
  backface-visibility: hidden;
  cursor: pointer;
  outline: none;

  &:active {
    transform: scale(.9);
  }
}

%circled {
  width: 3rem;

  .btn__icon {
    @include size(1.5rem);
  }
}

%full {
  background-image: linear-gradient(to bottom, $pink, $pink2);
  color: $white;
  will-change: background-image;

  &:hover {
    background-image: linear-gradient(to bottom, $pink2, $pink3);
    color: $white;
  }
}

%light {
  border: 1px solid $pink;
  color: $pink;
  background-color: transparent;
  will-change: background-image, color;

  .btn__icon {
    fill: $pink;
  }

  &:hover {
    color: $white;
    background-image: linear-gradient(to bottom, $pink, $pink2);

    .btn__icon {
      fill: $white;
    }
  }
}

%secondary {
  background-color: $lightgrey;
  color: $grey;

  .btn__icon {
    fill: $grey;
  }

  &:hover {
    background-color: shade($lightgrey, 5%);
  }
}

.btn {
  @extend %button;
}

.btn--secondary {
  @extend %button;
  @extend %secondary;
}

.btn--circled {
  @extend %button;
  @extend %circled;
  @extend %full;
}

.btn--full {
  @extend %full;
}

.btn--light {
  @extend %light;
}

.btn__icon {
  @include flex-absolute-center;
}

.btn--close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  @include size(4rem);
  font-size: ms(2);
  cursor: pointer;
}

.btn__content {
  @include flex-absolute-center;
}

.btn--icon {
  justify-content: center;

  .btn__text {
    margin-left: .5rem;
  }
}

.btn--icon-rtl {
  justify-content: center;

  .btn__text {
    margin-right: .5rem;
  }
}
