/* ==|====================
   Components / Links
   ======================= */

%link {
  color: $pink;
  @include transition();
  &:hover {
    color: shade($pink, 20%);
  }
}

a {
  @extend %link;
}

.link--icon {
  @extend %link;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

.link--icon-rtl {
  @extend %link;
  display: flex;
  text-decoration: none;
}

