/* ==|====================
   Components / Logo
   ======================= */

.logo {
  height: 2rem;
  width: 5rem;
  @include vector-bg-with-fallback(flppn-logo-black);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include mq($from: desktop) {
    width: 8rem;
    height: 2.5rem;
  }

  body.night-mode & {
    @include vector-bg-with-fallback(flppn-logo);
  }
}

.logo--white {
  @include vector-bg-with-fallback(flppn-logo);
}

.logo--header {
  @include mq($from: desktop) {
    width: 5rem;
    height: 2.5rem;
    margin-right: 3rem;
  }
}

