/* ==========================
   Components / Modals
   ========================== */

$modal-padding: .75rem;

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans';
  font-size: 1rem;
  z-index: 40;
}

.modal-wrapper.is-active {
  display: flex;
  flex-direction: column;
}

.modal-wrapper.is-active .modal {
  transform: none;
  opacity: 1;
}

.modal-wrapper.is-active .modal__outer-text {
  opacity: 1;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  background-color: $white;
  border-radius: 4px;
  z-index: 40;
  width: 30rem;
  max-width: 30rem;
  font-family: inherit;
  overflow: hidden;
  @include transition;
  will-change: transform;
  transform: translateY(1rem);
  opacity: 0;
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: inherit;
  border-bottom: 1px solid $border-color;
}

.modal__header__logo {
  transform: scale(1.5);
}

.modal__header__text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: $black;
  text-align: left;
  font-weight: 700;
}

.modal__header__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  @include transition;
  will-change: transform;
  cursor: pointer;
}

.modal__header__btn:hover {
  transform: rotate(90deg);
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 30rem;
}

.modal__form__input {
  display: flex;
  font-weight: 300;
  color: #303030;
  height: 3rem;
  width: 100%;
  padding: .5em;
  margin-bottom: .5rem;
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: $lightgrey;
  font-family: inherit;
  font-size: 1rem;
  color: $grey;
  outline: none;
}

.modal__form__input:focus {
  border-color: $pink;
  color: $black;
}

.modal__form__submit {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(to bottom, $pink, #f55180);
  margin-top: 1rem;
  color: $white;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.modal__outer-text {
  margin-top: 1rem;
  color: $white;
  @include transition;
  will-change: opacity;
  opacity: 0;
}

.modal__outer-text a {
  text-decoration: none;
}
