/* ==========================
   Components / Modals
   ========================== */

$modal-padding: .75rem;

.modal-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans';
  font-size: 1rem;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}

.modal-wrapper.is-active {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper.is-active .modal {
  transform: none;
  opacity: 1;
}

.modal-wrapper.is-active .modal__outer-text {
  opacity: 1;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  background-color: $white;
  border-radius: 4px;
  z-index: 40;
  width: 30rem;
  max-width: 30rem;
  font-family: inherit;
  overflow: hidden;
  @include transition;
  transition-delay: .1s;
  will-change: transform;
  transform: translateY(1rem);
  opacity: 0;
}

.modal--choice {
  .modal__header {
    height: auto;
  }
  .modal__content {
    padding: initial;
  }
}

.modal--url {
  .modal__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.modal--new-collection {
  .modal__form {
    width: 100%;
  }
  .modal__form__input {
    width: 100%;
    &:invalid {
      border-color: $error;
      & + .modal__form__submit {
        cursor: not-allowed;
        pointer-events: none;
        background-color: $lightgrey;
        background-image: none;
        color: $grey;
      }
    } 
    &:valid {
      & + .modal__form__submit {
        pointer-events: auto;
        background-color: $pink;
        color: $white;
      }
    }
  }
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: inherit;
  border-bottom: 1px solid $border-color;
}

.modal__header__content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  text-align: left;
}

.modal__header__logo {
  transform: scale(1.5);

  svg {
    fill: $black;
  }
}

.modal__header__title {
  display: flex;
  align-items: center;
  color: $black;
  text-align: left;
  font-weight: 600;
}

.modal__header__subtitle {
  color: $grey;
}

.modal__header__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  @include transition;
  will-change: transform;
  cursor: pointer;
  outline: none;
}

.modal__close-btn {
  svg { fill: $grey; }
  &:hover {
    transform: rotate(90deg);
  }
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-top: 1px solid $lightgrey;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 30rem;
}

.modal__form__input {
  display: flex;
  font-weight: 300;
  color: #303030;
  height: 3rem;
  width: 100%;
  padding: .5em;
  margin-bottom: .5rem;
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: $lightgrey;
  font-family: inherit;
  font-size: 1rem;
  color: $grey;
  outline: none;
}

.modal__form__input:focus {
  border-color: $pink;
  color: $black;
}

.modal__form__submit {
  height: 3rem;
  min-width: 10rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(to bottom, $pink, #f55180);
  margin-top: 1rem;
  color: $white;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.modal__choices {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.modal__choice {
  @include flex-absolute-center;
  padding: 1rem;
  width: 50%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.03));
  @include transition;
  will-change: background-color, color;
  outline: none;

  &:first-child {
    border-right: 1px solid $lightgrey;
  }
  &:focus {
    background-color: $lightgrey;
  }
}

.modal__choice--yes {
  color: $pink;

  &:focus {
    background-color: $pink;
    color: $white;
  }
}

.modal__url {
  &:invalid {
    border-color: $error;
    & + .modal__url-submit {
      cursor: not-allowed;
      pointer-events: none;
    }
  } 
  &:valid {
    & + .modal__url-submit {
      pointer-events: auto;
      background-color: $pink;
      color: $white;
    }
  }
}

.modal__url-submit {
  margin-left: 1rem;
  padding: 0 2rem;
  background-color: $lightgrey;
  color: $grey;

  .btn__icon {
    fill: $grey;
  }
}

.modal__outer-text {
  margin-top: 1rem;
  color: $white;
  @include transition;
  will-change: opacity;
  opacity: 0;
}

.modal__outer-text a {
  text-decoration: none;
}
