/* ==========================
   Components / Modals
   ========================== */

$modal-padding: 2rem;

.modal-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans';
  font-size: 1rem;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
}

.modal-wrapper.is-active {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper.is-active .modal {
  transform: none;
  opacity: 1;
}

.modal-wrapper.is-active .modal__outer-text {
  opacity: 1;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  background-color: $white;
  border-radius: 4px;
  z-index: 40;
  width: 30rem;
  max-width: 30rem;
  font-family: inherit;
  @include transition;
  transition-delay: .1s;
  will-change: transform;
  transform: translateY(1rem);
  opacity: 0;
}

// --------------------------------------------
// MODAL CHOICE YES/NO
// --------------------------------------------
.modal--choice {
  .modal__header {
    height: auto;
  }
  .modal__content {
    padding: initial;
  }
}
// --------------------------------------------
// MODAL URL
// --------------------------------------------
.modal--url {
  .modal__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// --------------------------------------------
// MODAL NEW COLLECTION
// --------------------------------------------
.modal--new-collection {
  .modal__form {
    width: 100%;
  }
  .modal__form__input {
    width: 100%;
    &:invalid {
      border-color: $error;
      & + .modal__form__submit {
        cursor: not-allowed;
        pointer-events: none;
        background-color: $lightgrey;
        background-image: none;
        color: $grey;
      }
    } 
    &:valid {
      & + .modal__form__submit {
        pointer-events: auto;
        background-color: $pink;
        color: $white;
      }
    }
  }
}

// --------------------------------------------
// MODAL CHOOSE COLLECTION
// --------------------------------------------
.modal--choose-collection {
  display: flex;
  flex-direction: row;
  height: 25rem;
  max-height: 25rem;
  width: 40rem;
  max-width: 40rem;
  .modal--choose-collection__link-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 17rem;
    height: 100%;
    padding: 2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: $white;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, transparent, rgba($black, 0.7));
    }
  }
  .modal--choose-collection__link-poster {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/flppn-landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .modal--choose-collection__link-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  .modal--choose-collection__link-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  .modal--choose-collection__link-provider {
    font-weight: 300;
    & span {
      font-weight: 600;
      color: $pink;
    }
  }
  .modal--choose-collection__collections-section {
    flex: 1;
    height: 100%;
    box-shadow: none;
  }
  .modal__header {
    padding-top: $modal-padding;
    padding-bottom: $modal-padding;
  }
  .smartSaveMenu-collection {
    padding-left: $modal-padding;
    padding-right: $modal-padding;
  }
  .smartSaveMenu-createCollection {
    height: 4rem;
    padding: $modal-padding;
  }
}


.modal__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 4rem;
  background-color: inherit;
  border-bottom: 1px solid $border-color;
  overflow: hidden;
}

.modal__header__content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: $modal-padding;
  text-align: left;
}

.modal__header__logo {
  transform: scale(1.5);

  svg {
    fill: $black;
  }
}

.modal__header__title {
  display: flex;
  align-items: center;
  color: $black;
  text-align: left;
  font-weight: 600;
}

.modal__header__subtitle {
  color: $grey;
}

.modal__header__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  @include transition;
  will-change: transform;
  cursor: pointer;
  outline: none;
}

.modal__close-btn {
  svg { fill: $grey; }
  &:hover {
    transform: rotate(90deg);
  }
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $modal-padding;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 30rem;
}

.modal__form__input {
  display: flex;
  font-weight: 300;
  color: #303030;
  height: 3rem;
  width: 100%;
  padding: .5em;
  margin-bottom: .5rem;
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: $lightgrey;
  font-family: inherit;
  font-size: 1rem;
  color: $grey;
  outline: none;
}

.modal__form__input:focus {
  border-color: $pink;
  color: $black;
}

.modal__form__submit {
  height: 3rem;
  min-width: 10rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(to bottom, $pink, #f55180);
  margin-top: 1rem;
  color: $white;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.modal__choices {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.modal__choice {
  @include flex-absolute-center;
  padding: 1rem;
  width: 50%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.03));
  @include transition;
  will-change: background-color, color;
  outline: none;

  &:first-child {
    border-right: 1px solid $lightgrey;
  }
  &:focus {
    background-color: $lightgrey;
  }
}

.modal__choice--yes {
  color: $pink;

  &:focus {
    background-color: $pink;
    color: $white;
  }
}

.modal__url {
  &:invalid {
    border-color: $error;
    & + .modal__url-submit {
      cursor: not-allowed;
      pointer-events: none;
    }
  } 
  &:valid {
    & + .modal__url-submit {
      pointer-events: auto;
      background-color: $pink;
      color: $white;
    }
  }
}

.modal__url-submit {
  margin-left: 1rem;
  padding: 0 2rem;
  background-color: $lightgrey;
  color: $grey;

  .btn__icon {
    fill: $grey;
  }
}

.modal__outer-text {
  position: absolute;
  margin-top: 1rem;
  color: $white;
  text-align: center;
  width: 100%;
  @include transition;
  will-change: opacity;
  opacity: 0;
}

.modal__outer-text a {
  text-decoration: none;
}
