// ----------------------
// == Colors
// ----------------------

// Graphic chart
$red: #e65c5c;
$blue: #1894c4;
$lightblue: #d0e9f3;
$white: #fff;
$orange: #d35400;
$green: #27ae60;
$purple: #9b59b6;
$pink: #f551c6;
$pink2: #f55180;
$pink3: #d82f5f;
$yellow: #f1c40f;
$black: #171717;
$border-color: #f4f4f5;
$grey: #aaaab1;
$lightgrey: #fbfbfb;
$lightgrey2: #d0d0d0;
$gold: #ebbc33;
$gold2: #ffbe00;
$gold-darker: #ffa939;
$color1: $blue;
$error: $red;
$success: $green;


